extends layout

block content 
    section#gettingstarted-hero.hero.is-primary.has-bg-img.is-medium
      .hero-body
    section.section
      .container
        h1.title.is-1 How to start your garden
        h1.title.is-2 Location
        .tile
            .tile.is-10
                p
                    | Vegetables generally want 
                    strong full sun
                    | , meaning six or more hours of sunlight a night. 
                    | But ideally most of them would have eight or ten hours of sunlight. 
                    | The south side of your house usually has the best sunlight, with west and east sides second-best. 
                    | It's also convenient to have your garden near a water source, so you can water the plants with a hose or fill your watering can easily.
        br
        h1.title.is-2 Containers, raised beds, or in the ground
        p
          | Depending on your situation, one of these three types of gardening may work best for you. 
          br
          br
          h2.subtitle.is-4 Containers (pots, planters, baskets, etc.)
          .tile
            .tile.is-3
                figure.image
                    img(width='1260' height='750' src = 'https://images.pexels.com/photos/4503273/pexels-photo-4503273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' alt='vegetables in pots')
            .tile.is-7.box.is-shadowless
                p
                    | If you are in an apartment or other living situation where you can't put anything in the ground, 
                    strong container gardening 
                    | would be best for you. Container gardening refers to placing your plants in pots or other planters, 
                    | instead of putting them directly in the ground. Container gardening has its own difficulties, but 
                    | if you pay attention to sizing requirements for different seeds, it can work perfectly well and offers you flexibility.
          br
          h2.subtitle.is-4 Raised beds
          .tile
            .tile.is-3
                figure.image
                    img(src = 'https://images.unsplash.com/photo-1584479898061-15742e14f50d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80' alt='raised garden bed')
            .tile.is-7.box.is-shadowless
                p
                    | Another option is to use a raised bed. A 
                    strong raised garden bed 
                    | is a short walled structure you can fill will soil and add your plants to. 
                    | It allows you to have greater control over the soil, instead of using what is in the ground. 
                    | It also can help protect from weeds, slugs, and other pests. But, you must build or purchase an adaquate structure which adds a bit of overhead to your project.
          br
          h2.subtitle.is-4 In the ground
          .tile
            .tile.is-3
                figure.image
                    img(src = 'https://images.pexels.com/photos/169523/pexels-photo-169523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' alt='planting in ground')
            .tile.is-7.box.is-shadowless
                p
                    | The option that doesn't require any planters or structures is planting directly 
                    strong in the ground
                    | . This is perhaps the easiest method, but your soil must be of good quality. 
                    | If it is very rocky or clay-based, the vegetables may not do as well. 
        br
        h1.title.is-2 Seeds indoor vs seeds outdoor vs. starts
        br
        h2.subtitle.is-4 Starts
        .tile
            .tile.is-7.box.is-shadowless
                p
                    | The simplest way to start gardening vegetables is to purchase some 
                    strong starts
                    | . The term vegetable "start" means a newly grown vegetable that has been grown from seed and is sold from a nursery for you to plant in your garden. 
                    | Typically you prepare whatever method of gardening you've chosen (container, raised bed, or in the ground) and scoop out an appropriately sized hole for your start. 
                    | Then you place it in, fill in the gaps with soil, and give it its first water.
            .tile.is-3
                figure.image
                    img(src = "https://media.istockphoto.com/photos/farmer-planting-tomatoes-seedling-in-organic-garden-picture-id1137926593?k=6&m=1137926593&s=612x612&w=0&h=UCsR1jehSQgG71CbpREfG0ttPVVlUGFsebWRGAo0dXA=" alt= "vegetable starts")
        br
        h2.subtitle.is-4 Seeds
        .tile
            .tile.is-7.box.is-shadowless
                p
                    | Alternatively, you can use 
                    strong seeds 
                    | to grow vegetables. This may take more practice, but is the most cost-effective way to grow vegetables. 
                    | Be sure to follow the advice on the seed packets for when they can be put in the ground, and how far apart they must be spaced. 
                    | You can plant your seeds indoors and eventually transfer them outside, or plant them outdoors. 
                    | Which is best depends on the vegetable and your location. 
                    | Follow the recommendations on the seed packet, and use our tool to get informaiton on your regional zone.
            .tile.is-3
                figure.image
                    img(src = "https://media.istockphoto.com/photos/plant-seeds-in-bags-for-planting-picture-id93467809?k=6&m=93467809&s=612x612&w=0&h=AJWjeOcZpUEsvtphMFEdPkIPgzMKf5AVEqRQ3pjxURE=" alt = "seed packets")
        br
        h1.title.is-2 Garden upkeep
        br
        h2.subtitle.is-4 Watering
        .tile
            .tile.is-3
                figure.image
                    img(src = "https://images.pexels.com/photos/4622067/pexels-photo-4622067.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt = "watering can")
            .tile.is-7.box.is-shadowless
                p
                    | During hot summer days, most vegetables will want to be watered daily, preferably in the morning. 
                    | But really there is no standard amount of time for watering; it depends on a variety of factors. 
                    | If the soil seems moist and can stick to your hand in the morning, it is moist enough. 
                    | If it is dry and falls apart in your hand, it is ready to be watered. 
        br
        h2.subtitle.is-4 Pruning
        .tile
            .tile.is-3
                figure.image
                    img(src = "https://images.pexels.com/photos/4975358/pexels-photo-4975358.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt = "pruning vegetable")
            .tile.is-7.box.is-shadowless
                p
                    | Many vegetables should be pruned to get maximum yield, but it varies by vegetable. 
                    | For instance, basil should be trimmed every few weeks, to prevent it from getting too leggy and sparse.
        br
        h2.subtitle.is-4 Fertilizer
        .tile
            .tile.is-3
                figure.image
                    img(src = "https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/fertilizer-shutterstock_1087283084.jpg?itok=H85ZhFRD", alt = "fertilizer")
            .tile.is-7.box.is-shadowless
                p
                    | Typically, gardens should be fertilized every spring. 
                    | If you're first starting out and using raised beds or containers, you can start out with fertilized soil or mix fertilizer in. 
                    | More information on this is 
                    a(href = "https://www.almanac.com/content/how-apply-fertilizers-your-garden") here.
        br
        h1.title.is-2 References and other resources
        div.content
            ul
                li The Old Farmer&apos;s Almanac: 
                    a(href='https://www.farmersalmanac.com/') https://www.farmersalmanac.com/
                ul
                    li The Old Farmer&apos;s Almanac has been published since 1792. It is a reference book containing weather forecasts, planting charts, recipes, etc.
                    li The gardening main page is here: 
                        a(href='https://www.farmersalmanac.com/category/home-garden') https://www.farmersalmanac.com/category/home-garden
                li 
                    a(href = "https://www.gardeners.com/how-to?folder=vegetable-gardening-articles") https://www.gardeners.com/how-to?folder=vegetable-gardening-articles
                li
                    a(href = "https://www.homedepot.com/c/ah/how-to-start-a-vegetable-garden/9ba683603be9fa5395fab90d6de2854") https://www.homedepot.com/c/ah/how-to-start-a-vegetable-garden/9ba683603be9fa5395fab90d6de2854
