extends layout

block content 
  if !err
    section#primary-hero.hero.is-primary.has-bg-img.is-large
      .hero-body
        .container.has-text-centered
          h1#hero-text.title.is-1 Plant-it Earth
          h2#hero-text.subtitle.is-2 Home Gardening Resources
    section.section
      .container
        h1.title.is-2 About Plant-It App 
        br
        p
          | For a novice gardener with absolutely zero knowledge of plant care and maintenance, trawling the internet in search of information, help, and advice can be time-consuming.
        p
          | Plant-It app is designed to help its users to start learning about gardening with zero prior knowledge.
        
        p
          | The app allows its users to:
        div.infolist
          ul(style='list-style-type:disc')
            li search for various information on a specific plant;
            li understand how a regional climate can affect planting and harvesting time;
            li and share tips or get information on a specific problem.

        h1.title.is-2 General gardening tips
        br
        h2.subtitle.is-4  Location 
        p
          | You want to choose a location with the most sun. Most food plants need full sunlight, which means a daily dose of at least six hours of direct sun—and more is better. 
          | In warm regions a garden plot whose sun exposure is primarily in the cooler hours of early- and mid-morning is more desirable than a site that bakes under high heat later in the day. 
          | Such direct late-afternoon sun adds to the heat built up during the day. In very hot regions, it may be necessary to provide some screening in the afternoon for certain plants.
        br
        h2.subtitle.is-4  Plot size
        p
          | It is advisable to start small. If this is your first garden, pick a site with room for a large garden, but actually make a small one. 
          | Another factor to consider is how much time you can devote to the garden. How much produce do you really want to grow? And how much sunny space do you have?
        p
          | The largest size recommended for a first vegetable garden is 25 by 25 feet. 
          | It can keep four people supplied with loads of salad herbs, vegetables, and berries. 
          | But even simpler way to get started is a raised bed 5 feet by 5 feet with just tomatoes, peppers, parsley, basil, and lettuce.
        br
        h2.subtitle.is-4  Soil &amp; seeds
        ul(style='list-style-type:disc')
          li Choose potting soil that's made for growing seedlings. Do not use soil from your garden or re-use potting soil from your houseplants. Start with a fresh, sterile mix that will ensure healthy, disease-free seedlings.
          li Before filling your containers, use a bucket or tub to moisten the planting mix. The goal is to get it moist but not sopping wet; crumbly, not gloppy. Fill the containers and pack the soil firmly to eliminate gaps.
          li Remember that most mixes contain few, if any, nutrients, so you'll need to feed the seedlings with liquid fertilizer a few weeks after they germinate, and continue until you transplant them into the garden.
          li Check the seed packet to see how deep you should plant your seeds. Some of the small ones can be sprinkled right on the soil surface. Larger seeds will need to be buried. For insurance, I plant two seeds per cell (or pot). If both seeds germinate, I snip one and let the other grow. It's helpful to make a couple divots in each pot to accommodate the seeds. After you've dropped a seed in each divot, you can go back and cover the seeds. 
        br
        h2.subtitle.is-4  Picking vegetables &amp; when to plant
        p 
          | See this app's "Search veggies" section to learn more about various vegetables. You can also ask various questions or browse already answered questions about specific plants.
        p 
          | The "Climate Planting" section of the app will provide you with the necessary information to identify your hardiness zone, what you need to know about your regional climate, how to plant, and what plants you can grow in your climate.
    section.section
      .container
        h1.title.is-2 About
        p This project was created by Alexandra Salem, Tatiana Luchian, and Samuel Parker.
        br
        a.button.is-medium(href='https://github.com/alexandrasalem/plant-it-earth' target='_blank')
          span.icon
            i.fab.fa-github
          span Github
    script(defer='' src='https://use.fontawesome.com/releases/v5.14.0/js/all.js')
