extends layout

block content 
  if !err
    section#primary-hero.hero.is-primary.has-bg-img.is-large
      .hero-body
        .container.has-text-centered
          h1#hero-text.title.is-1 Plant-it Earth
          h2#hero-text.subtitle.is-2 Home Gardening Resources
    section.section
      .container
        h1.title.is-2 About
        p This project was created by Alexandra Salem.
        br
        a.button.is-medium(href='https://github.com/alexandrasalem/vegetables-website' target='_blank')
          span.icon
            i.fab.fa-github
          span Github
    script(defer='' src='https://use.fontawesome.com/releases/v5.14.0/js/all.js')
