#primary-hero {
  background: url("https://images.pexels.com/photos/1300972/pexels-photo-1300972.jpeg?cs=srgb&dl=pexels-magda-ehlers-1300972.jpg&fm=jpg")
    center center;
  background-size: cover;
}

#gettingstarted-hero {
  background: url("https://images.pexels.com/photos/1002703/pexels-photo-1002703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    center center;
  background-size: cover;
}

#calendar-hero {
  background: url("https://images.pexels.com/photos/1213859/pexels-photo-1213859.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}

#hero-text {
  text-shadow: 2px 2px 2px black;
}

.navbar {
  border-bottom: solid black;
}

/* tbody {
  width: auto;
  height: 50%;
  overflow-y: scroll;
  position: absolute;
} */

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
} */

.table.is-scrollable {
  overflow-y: scroll;
  width: auto;
  position: absolute;
}
